{% assign number_of_related_products_to_show = 4 %}
{% assign image_size = '300x' %}
<section id="related-products">
  <div class="container">
    <div class="grid-row justify-center">
      <div class="grid-item item-s-12 item-m-3">
      </div>
    </div>
  </div>
</section>
