$header-height = 109px

// ******************************************************

// BASIC

#main-content
  min-height: calc('100vh - ' + $header-height)
  margin-top: $header-height

// ******************************************************

// INDEX

#header
  &.index-header
    top: calc('100vh - ' + ($margin-basic * 3))

#main-content
  &.index-content
    margin-top: calc('100vh + ' + $header-height)

svg.pagination-arrow
  width: 100px

// ******************************************************

// PRODUCT

#product-gallery, .product-gallery-image
  height: 500px

#product-tag-list
  padding-left: $margin-basic

.selector-wrapper
  margin-bottom: $margin-small
  label
    margin-right: $margin-small
    font-size: $font-size-small
  select
    padding-bottom: 3px
    border-bottom-width: 3px

// ******************************************************
