$header-height = 109px

// ******************************************************

// BASIC

#main-content
  margin-top: $header-height

// ******************************************************

// PRODUCT

#product-gallery, .product-gallery-image
  height: 500px

#product-tag-list
  padding-left: $margin-basic

.selector-wrapper
  margin-bottom: $margin-small
  label
    margin-right: $margin-small
    font-size: $font-size-small
  select
    padding-bottom: 3px
    border-bottom-width: 3px

// ******************************************************
