$header-height = 74px

// ******************************************************

// BASIC

#main-content
  margin-top: $header-height

// ******************************************************

// ABOUT

#blog-desktop
  display: none

// ******************************************************

// PRODUCT

#product-gallery, .product-gallery-image
  height: 200px

// ******************************************************

// FOOTER

#contact-links
  text-align: center

// ******************************************************
