// ABOUT

#blog-desktop
  display: none

// ******************************************************

// FOOTER

#contact-links
  text-align: center

// ******************************************************
