$header-height = 74px

// ******************************************************

// BASIC

#main-content
  margin-top: $header-height

// ******************************************************

// ABOUT

#blog-desktop
  display: none

// ******************************************************

// FOOTER

#contact-links
  text-align: center

// ******************************************************
