$header-height = 109px

// ******************************************************

// BASIC

#main-content
  margin-top: $header-height

// ******************************************************

// PRODUCT

#product-gallery, .product-gallery-image
  height: 600px

.selector-wrapper
  label
    font-size: $font-size-small
  select
    padding-bottom: 4px

// ******************************************************
