$header-height = 115px

// ******************************************************

// BASIC

#main-content
  min-height: calc('100vh - ' + $header-height)
  margin-top: $header-height

// ******************************************************

// INDEX

#header
  &.index-header
    top: calc('100vh - ' + $header-height)

#main-content
  &.index-content
    margin-top: calc('100vh + ' + $header-height)

// ******************************************************

// PRODUCT

#product-gallery, .product-gallery-image
  height: 600px

.selector-wrapper
  label
    font-size: $font-size-small
  select
    padding-bottom: 4px

// ******************************************************

// BLOG

#blog-desktop
  img, iframe
    max-width: 70%

// ******************************************************
