$header-height = 95px

// ******************************************************

// BASIC

#main-content
  margin-top: $header-height

// ******************************************************

// ABOUT

#blog-desktop
  display: flex

#blog-mobile
  display: none

// ******************************************************

// FOOTER

#contact-links
  text-align: right
  justify-content: flex-end

// ******************************************************
