$header-height = 95px

// ******************************************************

// BASIC

#main-content
  margin-top: $header-height

// ******************************************************

// ABOUT

#blog-desktop
  display: flex

#blog-mobile
  display: none

// ******************************************************

// PRODUCT

#product-gallery, .product-gallery-image
  height: 400px

#product-tag-list
  padding-left: $margin-basic

#product-add-holder
  font-size: $font-size-basic

.selector-wrapper
  margin-bottom: $margin-small
  label
    margin-right: $margin-small
    font-size: $font-size-small
  select
    flex: 1 0 auto
    padding-bottom: 2px

// ******************************************************

// FOOTER

#contact-links
  text-align: right
  justify-content: flex-end

// ******************************************************
