$header-height = 82px

// ******************************************************

// BASIC

#main-content
  min-height: calc('100vh - ' + $header-height)
  margin-top: $header-height

// ******************************************************

// INDEX

#header
  &.index-header
    top: calc('100vh - ' + $header-height)

#main-content
  &.index-content
    margin-top: calc('100vh + ' + $header-height)

svg.pagination-arrow
  width: 80px

// ******************************************************

// PRODUCT

#product-header
  text-align: initial

#product-gallery, .product-gallery-image
  height: 400px

#product-tag-list
  padding-left: $margin-basic

.selector-wrapper
  margin-bottom: $margin-small
  label
    margin-right: $margin-small
    font-size: $font-size-small
  select
    flex: 1 0 auto
    padding-bottom: 2px

#product-add-holder
  text-align: center

// ******************************************************

// BLOG

#blog-desktop
  display: flex

#blog-mobile
  display: none

.blog-item-single
  max-width: none

body#about
  #blog-border-block
    position: absolute
    display: block
    background: $color-white
    width: 4px
    height: 100%
    top: 0
    left: calc('50vw - 2px')

#blog-left-holder
  border-right: 2px solid $color-black

#blog-right-holder
  border-left: 2px solid $color-black

#blog-desktop
  img, iframe
    max-width: 90%

// ******************************************************

// FOOTER

#contact-links
  text-align: right
  justify-content: flex-end

// ******************************************************
