  // styl property ordering: https://github.com/rossPatton/stylint/blob/master/src/data/ordering.json

@import 'kouto-swiss'
@import 'helpers'

// ******************************************************

// RESETS

meyer-reset()
box-sizing-reset()
normalize()

// ******************************************************

// GRID

@import 'grid'

// ******************************************************

// TYPOGRAPHY

@import 'type'

// ******************************************************

// VARIABLES

$color-black = rgb(0, 0, 0)
$color-white = rgb(255, 255, 255)
$color-red = rgb(255, 0, 0)

// ******************************************************

// BASIC

html
  background-color: $color-white
  color: $color-black

body
  overflow-x: hidden

img
  max-width: 100%
  height: auto

.mobile-only
  display: initial !important

.desktop-only
  display: none !important

input, select, a
  &:focus
    outline: none
    color: $color-red
    img
      box-shadow: 0 0 40px -5px $color-red

// ******************************************************

// FORM

input, select
  appearance: none
  background: none
  border: 0
  border-radius: 0
  border-bottom: 2px solid $color-black
  padding: 0

// ******************************************************

// HEADER

#header
  position: fixed
  width: 100vw
  top: 0
  left: 0
  z-index: 500

#nav-cart-count
  vertical-align: middle

// ******************************************************

// PRODUCT

#product-title
  display: inline
  line-height: 1.15
  &:after
    content: ' '

#product-gallery
  position: relative
  overflow: hidden

#product-gallery-row
  position: absolute
  width: 100vw

.product-gallery-item, .product-gallery-image
  pointer-events: none
  font-size: 0

#product-tag-list
  list-style-type: disc

.selector-wrapper
  display: flex
  flex-direction: row
  align-items: center
  label
    flex: 0 1 auto
    font-weight: bold
    text-transform: uppercase
    &:after
      content: ': '

#product-unavailable
  display: none

#product-add-holder
  &.out-of-stock
    #product-unavailable
      display: block

#add
  border: 0
  background: none
  font-weight: bold
  text-transform: uppercase
  cursor: pointer
  &:disabled
    cursor: default

// ******************************************************

// FOOTER

#footer
  background-color: $color-black
  color: $color-white

// ******************************************************

// MEDIA QUERIES

$gutter = 14px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 1.5)
$margin-mid = ($gutter * 2.5)
$margin-large = ($gutter * 5)

$font-size-extra = 56px
$font-size-large = 40px
$font-size-mid = 28px
$font-size-basic = 18px
$font-size-small = 14px
$font-size-tiny = 12px
$font-size-micro = 10px

grid(96%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny, $font-size-micro)

@import 'responsive/mobile'

@media screen and (min-width: 720px)

  $gutter = 18px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 1.5)
  $margin-mid = ($gutter * 2.5)
  $margin-large = ($gutter * 5)

  $font-size-extra = 120px
  $font-size-large = 70px
  $font-size-mid = 32px
  $font-size-basic = 21px
  $font-size-small = 16px
  $font-size-tiny = 14px
  $font-size-micro = 12px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid(680px, $gutter, m)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny, $font-size-micro)

  .mobile-only
    display: none !important

  @import 'responsive/tablet'

@media screen and (min-width: 1024px)

  $gutter = 24px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 1.5)
  $margin-mid = ($gutter * 2.5)
  $margin-large = ($gutter * 5)

  $font-size-extra = 170px
  $font-size-large = 120px
  $font-size-mid = 36px
  $font-size-basic = 28px
  $font-size-small = 22px
  $font-size-tiny = 18px
  $font-size-micro = 13px

  grid(1000px, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny, $font-size-micro)

  .desktop-only
    display: initial !important

  @import 'responsive/desktop'

@media screen and (min-width: 1280px)

  $font-size-extra = 200px
  $font-size-large = 144px
  $font-size-mid = 40px
  $font-size-basic = 32px
  $font-size-small = 24px
  $font-size-tiny = 20px
  $font-size-micro = 14px

  grid(1200px)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny, $font-size-micro)

  @import 'responsive/monitor'

@media screen and (min-width: 1366px)

  $font-size-basic = 36px

  grid(1300px)

  font-sizes($font-size-basic)

  @import 'responsive/hd'
