<section id="about-blog-single">
  <div class="container">
    <div class="grid-row">
      <article class="blog-item-single grid-item item-m-6 item-l-4 margin-bottom-large">
        <h2 class="blog-title font-bold">{{ article.title }}</h2>
        {{ article.content }}
      </article>
    </div>
  </div>
</section>
